[Unit]
Description=Prometheus
After=network-online.target node_exporter.service
Wants=network-online.target

[Service]
User=prometheus
Group=prometheus
Type=simple
ExecStart=/usr/local/bin/prometheus \
  --config.file=/etc/vpn-project/monitoring/prometheus.yml \
  --storage.tsdb.path=/var/lib/vpn-project/monitoring/prometheus \
  --web.listen-address=127.0.0.1:9090 \
  --storage.tsdb.retention.time=15d \
  --web.enable-lifecycle
Restart=on-failure
RestartSec=5
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
ReadWritePaths=/var/lib/vpn-project/monitoring/prometheus

[Install]
WantedBy=multi-user.target
